@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h3 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

strong {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}

.personal {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}